.btn_prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -70px;
  z-index: 100;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_prev svg {
  fill: black;
}

.btn_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -70px;
  z-index: 100;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_next svg {
  fill: black;
}

@media (max-width: 1000px) {
  .slider_container {
    padding: 0 3.5rem;
  }

  .btn_prev {
    left: 0px;
  }

  .btn_next {
    right: 0px;
  }
}
