.container {
  display: flex;
  align-items: center;
}

.left {
  margin-right: 12rem;
}
.right {
  flex: 0.7;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: #ffffff;
  padding: 1rem 3rem;
  transition: all 0.4s ease;
}

.btn:hover {
  transform: translateY(-15px);
}

.btn :first-child {
  margin-right: 0.7rem;
}

@media (max-width: 1200px) {
  .right {
    flex: 1;
  }
  .left {
    margin-right: 5rem;
  }
}

@media (max-width: 760px) {
  .container {
    display: flex;
    align-items: unset;
    flex-direction: column;
  }

  .left {
    margin-right: 0rem;
    margin-bottom: 2rem;
    width: fit-content;
  }
}
