.footer {
  padding-top: 2rem;
  border-top: 1px solid #6b6b6b;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  align-items: center;
}

.logo {
  width: 170px;
  margin-right: 2rem !important;
  margin-right: 1.5rem;
}
.links {
  display: flex;
  align-items: center;
}
.links > :not(:last-child) {
  margin-right: 1.5rem;
}

.footer_right {
  display: flex;
  align-items: center;
}

.footer_right > :not(:last-child) {
  margin-right: 1.5rem;
}

@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
    align-items: unset;
  }
  .footer_left {
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .footer_right {
    justify-content: center;
  }

  .footer_left > :not(:last-child) {
    /* margin-right: 0rem; */
    /* margin-bottom: 1.5rem; */
  }
}

@media (max-width: 760px) {
  .footer_left {
    flex-direction: column;
  }
  .logo {
    margin-right: 0rem;
    margin-bottom: 1.5rem;
  }

  .links {
    justify-content: center;
    flex-wrap: wrap;
  }
  .links > :not(:last-child) {
    margin-right: 0rem;
  }

  .navbarScrollLink {
    margin: 1rem;
  }
}

@media (max-width: 500px) {
  .links {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .links > :not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .navbarScrollLink {
    margin: 0rem;
  }

  .footer_right {
    flex-direction: column;
  }

  .footer_right > :not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .logo {
    margin-right: 0rem !important;
    margin-bottom: 1.5rem;
  }
}
